<div id="contentArea">
  <div class="contentDivision">
    <div class="about">
      <h1>
        <strong>About</strong>
      </h1>
      <img src="/Website-Redesign-UIcourse/src/assets/img/hendrixdean.jpg" class="hendrixImg" alt="Photograph of Dr. Hendrix" />
      <p>
        I am an Associate Professor in the department of Computer Science and Software Engineering in the
        Samuel Ginn College of Engineering at Auburn University. My research focuses primarily on software
        visualization and how it can be applied to both computing education and software engineering. I teach
        courses in computing fundamentals, software engineering, and cloud computing. I also coordinate the
        curricula, assessment, and accreditation of our department's three undergraduate programs.
      </p>
    </div>
    <div class="contact">
      <h1>
        <strong>Contact Information</strong>
      </h1>
      <address class="address">
        Dr. Dean Hendrix, Ph.D.<br />
        Associate Professor<br />
        Computer Science and Software Engineering<br />
        Suite 3101 Shelby Center<br />
        Auburn University, AL 36849-5347<br /><br />
        Voice: (334) 844-6305<br />
        Fax: (334) 844-6329<br />
        Email: <a href="mailto:hendrtd@auburn.edu">hendrtd at auburn dot e d u</a>
      </address>
    </div>
  </div>

  <div class="sidebar">
    <p class="sidebarTitle">Courses</p>
    <a routerLink="/compPage">COMP 2210</a>
    <a routerLink="/ENGR1110">ENGR 1110</a>
    <div class="orangeBar"></div>
    <p class="sidebarTitle">Research</p>
    <a href="http://jgrasp.org" target="new">jGRASP</a>
    <!-- Below link needs a placeholder page. -->
    <a href="http://www.studiobasedlearning.org" target="new">Studio Based Learning</a>
    <div class="orangeBar"></div>
    <p class="sidebarTitle">Links</p>
    <a href="http://auburn.edu" target="new">AU Home</a>
    <a href="http://eng.auburn.edu" target="new">COE Home</a>
    <a href="http://eng.auburn.edu/comp" target="new">CSSE Home</a>
    <a routerLink="/articles">Scholarly Articles</a>
  </div>
</div>
