<div id="headerWrap">
  <div id="header">
    <div id="logo">
      <a href="http://www.auburn.edu"><img src="http://www.auburn.edu/template/styles/images/headerLogo.png" alt="Auburn University Homepage" /></a>
    </div>
    <div id="headerTitle">
      <div class="titleArea">
        <span class="mainHeading">Dr. Dean Hendrix</span>
        <span class="subHeading"></span>
      </div>
    </div>
  </div>
  <div id="Navheader">
    <nav class="links" style="--items: 3;">
      <button routerLink="/content">Home</button>
      <button routerLink="/compPage">COMP 2210</button>
      <button routerLink="/ENGR1110">ENGR 1110</button>
      <span class="line"></span>
    </nav>
  </div>
</div>