#footerWrap {
  background: url(https://www.auburn.edu/template/styles/images/footer.png) top center no-repeat;
  color: #fff;
  display: block;
  font-size: 8pt;
  margin: 5px auto 0;
  overflow: hidden;
  
  padding-top: 300px; //originally 92px

  background-position-y: 210px;
  width: 100%;
}
#footer {
  background-color: #03244d;
  margin: -5px 0;
  overflow: hidden;
  padding: 18px 0 15px 0;
}
#subfooter {
  border-top: 5px solid #dd550c;
  font-family: Lucida Grande, Geneva, Verdana, Arial, Helvetica, Swiss, SunSans-Regular, sans-serif;
  clear: both;
  color: #03244d;
  line-height: 18px;
  padding: 15px 0 10px 0;
  text-align: center;
  width: 100%;
}