<div id="contentArea">
    <div class="contentDivision">
      <h1>
        <strong>Course Calendar and Anouncements</strong>
      </h1>
        <br />
        <h3>
            <strong>Course Anouncements</strong>
        </h3>
            <p>
                Most recent anouncements:
            </p>
            <body style="text-align: right;">
            <a href="http://twitter.com/comp2210" target="new">See all anouncements | Follow (Twitter, RSS)</a>
            </body>
        <br />
        <h3>
            <strong>Course Calendar</strong>
        </h3>
            <p>
                This calendar is subject to change. Please check back often to make sure you have the most recent information. 
            </p>
            <p>
                <strong>c3qpc96lroirjlnbnndmq5n1bo@group.calendar.google.com</strong>
            </p>
            <full-calendar [options]="calendarOptions"></full-calendar>
      <br />
      <br />
      <h1>
        <strong>Instructor</strong>
      </h1>
        <p>
            Dr. Dean Hendrix, Ph.D.<br />
            Associate Professor<br />
            Computer Science and Software Engineering<br />
            Suite 3101 Shelby Center<br />
            Auburn University, AL 36849-5347<br /><br />
            Voice: 334-844-6305<br />
            Fax: 334-844-6329<br />
            Email: <a href="mailto:hendrtd@auburn.edu">hendrtd at auburn dot e d u</a>
        </p>
      <br />
      <br />
      <h1>
        <strong>Teaching Assistants</strong>
      </h1>
        <p>
            <strong>Section 001 and 004</strong><br />
            Billy Symon<br />
            Office: 3136 Shelby Center<br />
            Email: <a href="mailto:symonwi@auburn.edu">symonwi at auburn dot e d u</a><br />
            <strong>Section 002 and 003</strong><br />
            Prateek Hejmady<br />
            Office: 3136 Shelby<br />
            Email: <a href="mailto:pzh0002@auburn.edu">pzh0002 at auburn dot e d u</a>
        </p>
      <br />
      <br />
      <h1>
        <strong>Course Overview</strong>
      </h1>
        <p>
            COMP 2210 is designed to introduce fundamental data structures, their associated algorithms, 
            and applications in which they are commonly used. An object-oriented approach to problem solving 
            and program design will be emphasized in the lecture and reinforced in the lab.<br />
            <br />
            Specific course objectives are: (1) Be able to design, implement, and apply data structures based on 
            specifications of abstract data types. (2) Be able to apply concepts and techniques from object-oriented 
            programming. (3) Be able to perform fundamental testing and debugging techniques. (4) Be able to perform 
            fundamental maintenance activities. (5) Be able to perform fundamental time and space analysis on algorithms.<br />
            <br />
            For detailed information on the course, including grading policies and general course policies, please refer to the 
            <a href="http://webhome.auburn.edu/~hendrtd/courses/comp2210/syllabus.pdf">syllabus</a>.
        </p>
    </div>
    <div class="sidebar">

      <p class="sidebarTitle">Support<br />Materials</p>
      <p class="side">&nbsp;&nbsp;Lecture</p><!-- <button routerLink="/lecture">Lecture</button> -->
      <p class="side">&nbsp;&nbsp;Lab</p><!-- <button routerLink="/lab">Lab</button> -->
      <p class="side">&nbsp;&nbsp;Lab</p><!-- <button routerLink="/lab">Lab</button> -->
      <p class="side">&nbsp;&nbsp;Exams</p><!-- <button routerLink="/exams">Exams</button> -->
      <p class="side">&nbsp;&nbsp;Syllabus</p><!-- <button routerLink="/syllabus">Syllabus</button> -->
      <div class="orangeBar"></div>
      <p class="sidebarTitle">Blackboard</p>
      <p class="side">&nbsp;&nbsp;Assignment turn-in</p>
      <p class="side">&nbsp;&nbsp;Check grades</p>
      <div class="orangeBar"></div>
      <p class="sidebarTitle">Links</p>
      <a href="http://jgrasp.org" target="new">jGRASP</a>
      <a href="http://www.oracle.com/technetwork/java/index.html" target="new">All Things Java</a>
      <a href="http://www.oracle.com/technetwork/java/javase/documentation/api-jsp-136079.html" target="new">Java SE APIs</a>
      <a href="http://download.oracle.com/javase/6/docs/technotes/guides/collections/index.html" target="new">Java Collections Framework</a>
      <a href="http://www.oracle.com/technetwork/java/codeconv-138413.html" target="new">Java Coding Conventions</a>
      <a href="http://java.sun.com/docs/books/jls/" target="new">Java Language Specification</a>
      <a href="http://www.coursesmart.com/0132429284/?a=1773944" target="new">Textbook (Publisher)</a>
      <a href="http://bit.ly/xRo3K" target="new">Textbook (Google)</a>
    </div>
  </div>