a, a:hover, a:visited { 
  border-bottom: 1px solid #e6ecf3; 
  color: #03244d; 
  line-height: normal; 
  text-decoration:none; 
}
h1 {
  color: #496e9c;
  border-bottom: 2px solid #f9903f;
}
h3 {
  color: #000000;
  border-bottom: 1px solid #000000;
}
#contentArea {
  background: url(https://www.auburn.edu/template/styles/images/contentAreaBG.png) center left repeat-y;
  font-family: Lucida Grande, Geneva, Verdana, Arial, Helvetica, Swiss, SunSans-Regular, sans-serif;
  display: table;
  margin: 0 auto;
}
.contentDivision {
  display: block;
  float: right;
  padding: 0 20px 20px 20px;
  position: relative;
  width: 36vw;
}
.sidebar {
  background: url(https://www.auburn.edu/template/styles/images/sidebarBlueGrad.png) #496e9c center bottom repeat-x;
  border-top: none;
  display: block;
  float: left;
  width: 220px;
}
.sidebar a {
  border-bottom: none;
  color: #fff;
  display: block;
  padding: 6px 10px;
}
.sidebar a:hover {
  background: none #03244d;
  border-bottom: none;
}
.sidebarTitle {
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 2px;
  padding-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}
.orangeBar {
  background-color: #f9903f;
  font-size: 1px;
  height: 2px;
  margin: 20px auto;
  text-align: center;
  width: 185px;
}

button {

  cursor: pointer;
  border: 1px solid #3498db;
  background-color: transparent;
  height: 50px;
  width: 200px;
  color: #3498db;
  font-size: 1.5em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.side {
  color: #fff;
}