<div id="contentArea">
  <div class="contentDivision">
    <h1>
      <strong>Articles by Dr. Hendrix</strong>
    </h1>
    <p>
      Dr. Dean Hendrix has over 50 published articles.  A complete listing can be found 
      <a href="https://www.researchgate.net/scientific-contributions/T-Dean-Hendrix-8518336" target="new">here</a>.  A sampling of
      his works can be found below.
    </p>
    <br />
    <a class="artBtn" id="DynObjView" href="\assets\pdf\Dynamic_object_viewers_for_data_structures.pdf" target="new">
      Dynamic Object Viewers for Data Structures
    </a>
    <a class="artBtn" id="IntMulApp" href="\assets\pdf\Integrating_Multiple_Approaches_for_Interacting_wi.pdf" target="new">
      Integrating Multiple Approaches for Interacting with Dynamic Data Structure Visualizations <br /> Fifth Program Visualization Workshop <br /> Pages 3 - 10
    </a>
    <a class="artBtn" id="ProDatStr" href="\assets\pdf\Providing_Data_Structure_Animations_in_a_Lightweig.pdf" target="new">
      Providing Data Structure Animations in a Lightweight IDE
    </a>
    <a class="artBtn" id="2002Software" href="\assets\pdf\2002Software.pdf" target="new">
      Software Process in the Classroom: The Capstone Project Experience
    </a>
  </div>
</div>